.container {
    background: red;
    width: 50vh;
    
    
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

button {
    width: 38px;
}